* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

/* ======Header start======= */

body {
    
}

.wrapper {

}

.header {

}

.conteiner {
    padding: 0 345px;
    display: flex;
    justify-content: space-between;
}

.header_content {
}

.logo_link {
    padding: 24px 0 0 0;
}

.logo_img {
    width: 145px;
    height: 31px;

}

.nav_menu {
    padding: 32px 344px 32px 93px;
}

.menu_list {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.menu_item {
    list-style-type: none;
}

.menu_link {
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.menu_link:hover {
    color: #2196F3;
}

.menu_contact {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 32px 0;
    list-style-type: none;
}

.contact_item {
}

.contact_link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color:#757575
}

.contact_link:hover {
    color: #2196F3;
}

/* ======Header End======== */

/* ======Hero Start======== */

.Hero {
    height: 600px;
    background-color: #2F303A;
    width:1920px;
    display: flex;
    justify-content: center;
}

.conteiner {

}

.hero_content {

}

.hero_title {
font-size: 44px;
font-weight: 900;
color: #ffffff;
text-transform: uppercase;
text-align: center;
padding: 200px 0 30px;
}



.hero_link {
    text-align: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #ffffff;
    justify-content: center;
    padding: 15px;
    background-color: #2196F3;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    margin: 0 500px 200px 500px;
}






/* ======Hero End========== */

/* Specifical Start */
.specifical {
}

.conteiner {
}

.spec_content {
    display: flex;
    flex-direction: row;
    margin-top: 94px;
    justify-content: center;
    gap: 45px;
}

.spec_item {
    max-width: 270px;
    list-style-type: none;
    width: 25%;
}

.spec_title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #212121;
    margin-bottom: 10px;
}

.spec_text {
font-size: 14px;
font-weight: 400;
color: #757575;
letter-spacing: 0.03em;
line-height: 24px;

}

/* Specifical End */

/* Work Start */

.works {
}

.conteiner {
}

.work_content {
    margin-top: 94px;
    margin-bottom: 94px;
}

.work_title {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
    text-align: center;
}




.work_list {
    display: flex;
    flex-direction: row;
    gap: 45px;
    list-style-type:none;
    margin-top: 50px;
}

.work_item {
}

.work_img {
}


/* Work End */

/* Team start */
.team {
    background-color: #F5F4FA;
}
.conteiner {
}
.team_content {
    
}

.team_title {
    
    font-size: 36px;
    font-weight: 700;
    color: #212121;
    text-align: center;
    padding: 94px 400px 0 400px;

}

.team_list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style-type:none;
    margin-top: 30px;
    margin-bottom: 94px;


}

.team_item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    max-width: 270px;
}
.team_img {
    margin-bottom: 30px;
}
.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;

}

.team_position {
display: flex;
flex-direction: row;
justify-content: center;
font-size: 16px;
font-weight: 400;
color: #757575;
letter-spacing: 0.03em;
margin-bottom: 30px;
}

/* team end */

/* footer start */
.footer {
    background-color: #2F303A;
}
.conteiner {
}
.footer_content {
}
.footer_img {
    margin: 60px 0px 30px 0px;
    width: 145px;
    height: 31px;
}
.footer_adres {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
}
.mail_link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: rgb(255, 255, 255, 0.6);
    
}

.tel {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgb(255, 255, 255, 0.6);
    margin-top: 9px;
    margin-bottom: 50px;
}
/* footer end */

